# Fichiers Docker
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.dev.yml
docker/

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Fichiers de base de données
*.sqlite
*.sqlite3

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Dépendances
/vendor/
/node_modules/

# Artifacts de build
/public/build/
/public/hot

# Fichiers générés
/storage/*.key
/.idea/
/.vscode/
/.vagrant/
Homestead.json
Homestead.yaml